<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand fw-bold" routerLink="/">Рукавичка</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Головна</a>
          </li>
        </ul>

        <div class="d-flex ms-auto" *ngIf="authService.user == null">
          <a class="btn btn-outline-light me-2" routerLink="/register">Реєстрація</a>
          <a class="btn btn-warning" routerLink="/login">Логін</a>
        </div>

        <div class="d-flex align-items-center" *ngIf="authService.user != null">
          <img
            [src]="environment.imagePath + '200_' + authService.user?.image || 'images/default-avatar.png'"
            alt="User avatar"
            class="rounded-circle me-2"
            width="32"
            height="32"
          />
          <span class="text-light fw-semibold me-2">
            {{ authService.user?.name }}
          </span>

          <button class="btn btn-warning" (click)="authService.logoutUser()">Вихід</button>
        </div>

      </div>
    </div>
  </nav>
</header>

<main class="main">
  <div class="container pb-5">
    <app-loading></app-loading>
    <app-global-error></app-global-error>
    <router-outlet></router-outlet>
  </div>
</main>
